@media only screen and (max-width: 575px) {
        header{
           display: none;
        }
       
        /*=====================
        ======nev rs part=======
        ======================*/
        .title p {
            width: auto;
        }
        nav{
            top: 0%;
            border-bottom: 0px;
        }  
        #nav_btn i{
            font-size: 2rem;
        }
        
        .navbar-toggler:focus{
            border: none;
            box-shadow: none;
        }
        .navbar-toggler:focus i{
            color: #fbaa33;  
        }
        nav button i{
            font-size: 20px;
            color: #fff;
        }
        nav ul{
            background: #000000b3;
            text-align: center;
        }
        nav ul li {
            margin-left: 0px;
        }
        
        nav ul li a:hover::after{
            width: 0;
        }
       /* ===============================
       ===============banner part==========
       ===============================*/
        #particles-js {
            width: 100%;
            height: 100vh;
            background-color: #9b4c4c;
        }
        #part_con{
            text-align: center;
        }
        #banner_part .AutoTyping {
            margin-top: 15rem;
          }
          #banner_part .AutoTyping h4{
            font-size: 1.6rem;
          }
          #banner_part .AutoTyping h3{
            font-size: 2.5rem;
          }

          #banner_part  .AutoTyping span{
            font-size: 40px;
          }

          /*=============================
        =============about part start====
        ================================== */
          #about-part .main{
            display: initial;
          }

          #about-part .vedio{
            width: 100%;
            height: 100vh;
          }
          #about-part .text{
            width: 100%;
          }

          #about-part .text {
            width: 100%;
            margin: 20px auto;
          }
          #about-part .text .title h4{
            font-size: 25px;
          }
          #about-part .text p{
            font-size: 17px;
            line-height: 32px;
            margin: 15px auto;
            text-align: center;
          }
          #about-part .text .sub_title{
            text-align: center;
            font-size: 20px;
          }

          #about-part .text .sub_title{
            text-align: center;
            font-size: 20px;
            margin-bottom: 10px;
          }
          #about-part .Skil li{
            margin: 10px 15px;
            padding: 15px 20px;
            border-radius: 10px;
          }
          /*=====================
        =======portfol part start====
        ========================== */
          #our_portfolio ul{
            width: 100%;
          }
          #our_portfolio ul li{
            padding: 13px 15px;
            font-size: 15px;
          }
          #our_portfolio .item {
            width: 100%;
        }
        #our_portfolio .item .overlay{
            opacity: 1;
            transform: none;
        }
        #our_portfolio .mixitup-control-active{
            color: #fbaa33;
            background: none;
        }
        /*============================
        ========serevic rs start======
        ===============================*/
        #servic-part ul li {
            display: list-item;
            padding: 10px 15px;
            margin: 2px 5px;
        }
        #servic-part .mixitup-control-active {
            background: #303934;
            margin: 10px;
        }
        #servic-part .item {
            width: 100%;
        }
        /*========================
        =======footer rs start=====*/
        #footer-part{
            padding: 20px 0px;
        }
        #footer-part .contact{
            width: 100%;
            text-align: center;
            padding: 0%;
        }
        #footer-part .contact .item{
            padding-left: 0%;
            margin-top: 20px;
        }
        #footer-part .contact .item i{

            font-size: 15px;
            position: initial;
        }
        
        #footer-part .logo{
            width: 100%;
            text-align: center;
        }
        #footer-part .logo ul {
            display:block ruby;
        }
        #footer-part .logo ul a i{
            margin: 10px 10px;
        }
        #footer-part .links{
            width: 100%;
            text-align: center;
            margin-top: 10px;
        }
        #footer-part .filckr{
            width: 100%;
            text-align: center;
        }
    }
    
    @media (min-width:576px) and (max-width:767px) {
        .navbar-toggler:focus {
            box-shadow: 0 0 0 0rem;
        }
        nav ul {
            background: #99B58F5E;
            text-align: right;
            padding-top: 10px;
        }
        nav ul li {
            margin-top: 0;
            margin-right: 0;
        }
        nav ul li a {
            margin-right: 20px;
        }
        nav ul li a::after{
            width: 0;
            display: none;
        }
        /*=========nev rs end===========*/
        /* ===========about part========== */
        #about-part  .main{
            flex-wrap: wrap;
        }
        #about-part .vedio{
            width: 100%;
            height: 50vh;
        }
        #about-part .text{
            width: 100%;
            padding-top: 20px;
        }
        /*==============serevic rs start======*/

        /* ======================
        =========protfo part=========
        ========================== */

        #our_portfolio ul{
            box-sizing: border-box;
            width: 100%;
        }

        #our_portfolio .item{
            width: 46%;
            height: 100%;
        }

        /*============footer part =========*/
        #footer-part .logo{
            width: 54%;
        }
        #footer-part .contact{
            width: 45%;
        }
        #footer-part .links {
            width: 47%;
            margin-top: 2rem;
        }
        #footer-part .filckr{
            width: 49%;
            margin-top: 2rem;
        }
        #footer-part .filckr .holder{
            justify-content: flex-end;
        }
    }
    
    @media (min-width:768px) and (max-width:991px) {
        .navbar-toggler:focus {
            box-shadow: 0 0 0 0rem;
        }
        nav ul {
            background: #99B58F5E;
            text-align: right;
            padding-top: 10px;
        }
        nav ul li {
            margin-top: 0;
            margin-right: 0;
        }
        nav ul li a {
            margin-right: 20px;
        }
        nav ul li a::after{
            width: 0;
            display: none;
        }
        /*=========nev rs end===========*/
        /* ===========about part========== */
        #about-part  .main{
            flex-wrap: wrap;
        }
        #about-part .vedio{
            width: 100%;
            height: 50vh;
        }
        #about-part .text{
            width: 100%;
            padding-top: 20px;
        }
        /*==============serevic rs start======*/

        /* ======================
        =========protfo part=========
        ========================== */

        #our_portfolio ul{
            box-sizing: border-box;
            width: 100%;
        }

        #our_portfolio .item{
            width: 46%;
            height: 100%;
        }

        /*============footer part =========*/
        #footer-part .logo{
            width: 54%;
        }
        #footer-part .contact{
            width: 45%;
        }
        #footer-part .links {
            width: 47%;
            margin-top: 2rem;
        }
        #footer-part .filckr{
            width: 49%;
            margin-top: 2rem;
        }
        #footer-part .filckr .holder{
            justify-content: flex-end;
        }
    }
    /*=================the end..=========*/